body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#kickswap-authform {
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  #kickswap-authform h3,
  #kickswap-sellkicksform h3 {
    font-size: 28px;
  }
  #kickswap-authform input,
  #kickswap-sellkicksform input,
  #kickswap-sellkicksform select {
    font-size: 22px;
    border: 1px black solid;
    margin-bottom: 10px;
    width: 100%;
  }
  #kickswap-sellkicksform label {
    font-size: 18px;
  }
  #kickswap-authform button,
  #kickswap-sellkicksform button,
  .loginandoutbutton {
    background-color: #581ac9;
    color: #fff;
    padding: 10px 10px;
    font-weight: 600;
  }
  #kickswap-googleloginbutton {
    margin-left: 10px;
  }
  #kickswap-createaccountbutton {
    margin-top: 10px;
  }
}

#kickswap-singlelistingimg {
  max-width: 400px;
}

.kickswap-account-listings {
  display: flex;
  flex-direction: row;
  grid-column-gap: 20px;
}